* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1b1b1b;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body, #root {
  color: white !important;
}

h1, h2, h3, h4, h5, h6 {
  color: white !important;
}
